---
layout: layout
---
<!-- Modify by Yu-Hsuan Yen -->
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <!-- Post Container -->
      <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 post-container">

        <!-- Modify by Kuihao Chang -->
        <% if (page.ExternalLink){ %>
        <!-- The external markdown iframe page -->
        <div>
          <!--class="iframe-container"-->
          <iframe id="TargetFrame" class="post-iframe" frameborder="0" scrolling=<%= page.showScroll || "yes" %>
            height=<%= page.iframeHight || "3000px"%> width="100%" onload=real_dynamic_iframe_height()
            src=<%= (page.ExternalLink) %>></iframe>
        </div>
        <% }else{ %>
        <!-- The original markdown content -->
        <%- page.content %>
        <% } %>
        <hr>
        <!-- Pager -->
        <ul class="pager">
          <% if (page.prev){ %>
          <li class="previous">
            <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
              title="<%- page.prev.title %>">&larr; Previous Post</a>
          </li>
          <% } %>
          <% if (page.next){ %>
          <li class="next">
            <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
              title="<%- page.next.title %>">Next Post &rarr;</a>
          </li>
          <% } %>
        </ul>

        <% if(config['tip']['enable']){ %>
        <!-- tip start -->
        <%- partial('_partial/tip') %>
        <!-- tip end -->
        <% } %>

        <% if(config['socialshare']) { %>
        <!-- Sharing Srtart -->
        <%- partial('_partial/socialshare') %>
        <!-- Sharing End -->
        <% } %>
        <hr>

        <!-- comments start -->
        <%- partial('_partial/comment',{cache: true}) %>
        <!-- comments end -->
        <hr>

      </div>

      <!-- Catalog: Tabe of Content -->
      <%- partial('_partial/catalog') %>

      <!-- Sidebar Container -->
      <div class="
                col-lg-8 col-lg-offset-1
                col-md-10 col-md-offset-1
                sidebar-container">

        <!-- Featured Tags -->
        <% if(config['featured-tags']) { %>
        <section>
          <!-- no hr -->
          <h5>
            <a href="<%= config.root %>tags/"><%= __('featured_tags') %></a>
          </h5>
          <div class="tags">
            <% page.tags.forEach(function(tag){ %>
            <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
          </div>
        </section>
        <% }%>

        <!-- Friends Blog -->
        <!-- Kuihao: 關閉 post page 的 friend 功能
        <% if(config.friends) { %>
        <hr>
        <h5><%= __('friends') %></h5>
        <ul class="list-inline">

          <% config.friends.forEach(function(friend){ %>
          <li>
            <a href="<%= friend.href %>" target="_blank"><%= friend.title %></a>
          </li>
          <% }); %>
        </ul>
        <% }%>
        -->
      </div>
    </div>
  </div>
</article>

<!-- Modify by Kuihao -->
<!--
<script>
  /* Kuihao feature: 可以取得指定 iframe 網頁的實際高度 (由捲動條高度得知) */
  /* 可惜因為同源政策，只對 same domain 的 iframe 有效 */
  function real_dynamic_iframe_height() {
    // Find the height of the internal page (iframe)
    var the_height = document.getElementById('TargetFrame').contentWindow.document.body.scrollHeight;
    // Change the height of iframe element
    document.getElementById("TargetFrame").height = the_height;
    document.getElementById("AnswerBox").innerHTML= the_height;
  };
</script>
-->

<% if(config['anchorjs']) { %>
<!-- anchorjs start -->
<%- partial('_partial/anchorjs') %>
<!-- anchorjs end -->
<% } %>